<body class="signup-page">
  <div class="signup-box">
    <div class="logo">
      <a href="javascript:void(0);" style="padding-bottom: 10px;"><img src="../../assets/logo_tipo.svg"></a>
      <small>Administración de comandas - PPS2019</small>
    </div>
    <div class="card">
      <div class="body">



        <div class="body m-t-35  m-l-35  m-r-35   ">
          <h3>Mesas</h3>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>foto</th>
                <th>#</th>
                <th>Comensales</th>
                <th>Estado</th>
                <th>Habilitar/Deshabilitar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mesa of mesas">
                <td> <img src="{{mesa.foto}}" style="width: 100px;"></td>
                <td>{{mesa.numero}}</td>
                <td>{{mesa.comensales}}</td>
                <td><button *ngIf="mesa.habilitada" (click)="tomar(mesa)">Tomar</button></td>
                <td><button *ngIf="!mesa.habilitada" (click)="liberar(mesa)">Liberar</button></td>

              </tr>

            </tbody>
          </table>


        </div>

      </div>


    </div>


    <div class="row" style="position: absolute; bottom: 0; width: 100%;z-index: 1200;">
      <div class="col-xs-3">
        <button [routerLink]="['/principal']" class="btn bg-cyan  btn-block btn-lg waves-effect"><i
            class="material-icons">home</i></button>
      </div>
      <div class="col-xs-3">
        <button (click)="servicioAuth.SignOut" class="btn bg-cyan  btn-block btn-lg waves-effect"><i
            class="material-icons">cancel</i>salir</button>
      </div>
    </div>
  </div>
</body>