<ion-header>
  <ion-toolbar>
    <ion-title>modal-listado-productos-pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content    >
  <ion-item button *ngFor="let producto of (productosLista | async)" >
    
    <div  *ngIf="!producto.motivo_baja" (click)="click(producto)">
    
        <ion-thumbnail slot="start">
          <img src="{{producto.URL[0]}}">
        </ion-thumbnail>
      <ion-label><h3>{{producto.nombre}}</h3><p>{{producto.cantidad}}</p>
      
        <ion-button (click)="agregar(producto)">
          <ion-icon slot="end" name="add" ></ion-icon>
          
        </ion-button>
        
        <ion-button (click)="sacar(producto)">
          <ion-icon slot="end" name="remove" ></ion-icon>
          
        </ion-button>
      </ion-label>
      </div>
    </ion-item>
  </ion-content>
