<body class="signup-page" style="overflow-y: scroll;" >
  <div class="signup-box">
      <div class="logo">
          <a href="javascript:void(0);" style="padding-bottom: 10px;"><img src="../../assets/logo_tipo.svg"></a>
          <small>Administración de comandas - PPS2019</small>
      </div>
      <div class="card">
          <div class="body">
                  <div class="msg">Alta de producto</div>
                  <div class="form-group mb-3">
                      <span class="input-group-addon" >
                          <i class="material-icons" style="font-size:25px; vertical-align: middle;">crop_square</i>Scanear nombre producto
                      </span>
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">local_pizza</i>
                      </span>
                      <div class="form-line">
                          <input type="text" class="form-control" [(ngModel)]="nuevoProducto.nombre" name="Nombre de Producto"
                              placeholder="Nombre de Producto" disabled autofocus>
                      </div>
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">details</i></span>
                      <div class="form-line">
                          <input type="text" class="form-control" [(ngModel)]="nuevoProducto.descripcion" name="Descripcion"
                              placeholder="Descripcion" required>
                      </div>
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">attach_money</i>
                      </span>
                      <div class="form-line">
                          <input type="number" class="form-control" [(ngModel)]="nuevoProducto.precio" name="password"
                               placeholder="Precio" step="any" required>
                      </div>
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">timer</i>
                      </span>
                      <div class="form-line">
                            <ion-datetime displayFormat=" H : m " pickerFormat=" H m " 
                            minuteValues="0,15,30,45"
                            hourValues="0,1"placeholder="Tiempo de Elaboracion  -- Horas:Minutos"[(ngModel)]="nuevoProducto.tiempo_elaboracion"></ion-datetime>
                          
                      </div>
                  </div>
                 
                 <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                        <label for="terms">Estoy de acuerdo con <a href="javascript:void(0);">los términos y
                                referencias</a>.</label>
                    </div>

                    <button class="btn btn-block btn-lg bg-red waves-effect" type="submit"
                        (click)="Baja()" >Baja</button>
                    <button class="btn btn-block btn-lg bg-yellow waves-effect" type="submit"
                        (click)="Modificar()">Modificar</button>

              
          </div>
      </div>
  </div>