<div class="login-box">
  <div class="logo">
      <a href="javascript:void(0);" style="padding-bottom: 10px;"><img src="../../../assets/logo_tipo.svg"></a>
      <small>Administración de comandas - PPS2019</small>
  </div>
  <div class="card">
      <div class="body">
          <!-- <form id="sign_in" method="POST"> -->
          <form [formGroup]="formulario">
              <div class="msg">Ingrese los datos para iniciar la aplicación</div>
              <ion-item color="danger" *ngIf="getError()">
                  <ion-label>E-Mail inexistente o Clave incorrecta</ion-label>
              </ion-item>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">person</i>
                  </span>
                  <div class="form-line">
                      <input formControlName="correo" type="email" class="form-control" name="username" placeholder="Nombre usuario" required
                          autofocus>
                  </div>
              </div>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="material-icons">lock</i>
                  </span>
                  <div class="form-line">
                      <input formControlName="clave" type="password" class="form-control" name="password" placeholder="Clave" required>
                  </div>
              </div>
              <div class="row">
                 
                  <div class="col-xs-4">
                      <!-- <button class="btn btn-block bg-pink waves-effect" type="submit">Ingresar</button> -->
                      <ion-button expand="block" fill="solid" color="danger" type="button" (click)="login()">
                          <ion-spinner name="lines-small" slot="end" *ngIf="getEnEspera()"></ion-spinner>
                          Ingresar
                      </ion-button>
                  </div>
              </div>
              <p *ngIf="getErrorDatos()" style="color: #ea6153;">Por favor verificá que hayas ingresado un E-Mail válido y una Clave.</p>
              <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6 align-right">
                      <a href="#">¿Olvidó la clave?</a>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

<div example-container>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed" >
          <ion-button color="#0d6f92" style="width: 200px">
                  USUARIOS TESTING

          </ion-button>
      
    
      <ion-fab-list  side="top" >
              <ion-button color="#0d6f92" style="width: 200px"
              [routerLink]="['/alta']" 
             >
              Alta (borrarlo luego)
          </ion-button>

          <ion-button color="#0d6f92" style="width: 200px"
              (click)="usuario.nombre='supervisor@nose.com';usuario.clave='123456'">
              Supervisor
          </ion-button>
          <ion-button color="#0d6f92" style="width: 200px"
              (click)="usuario.nombre='empleado@nose.com';usuario.clave='123456'">
              Empleado
          </ion-button>
          <ion-button color="#0d6f92" style="width: 200px"
              (click)="usuario.nombre='cliente@nose.com';usuario.clave='123456'">
              Cliente
          </ion-button>
          <ion-button color="#0d6f92" style="width: 200px"
              (click)="usuario.nombre='dueno@nose.com';usuario.clave='123456'">
              Dueño
          </ion-button>

      </ion-fab-list>
  </ion-fab>


</div>
